
@font-face {
  font-family: 'Rolling Love';
  src: url('../fonts/Rolling-Love.ttf.woff') format('woff');
}
@font-face {
  font-family: 'Sister Love';
  src: url('../fonts/LoveYaLikeASister-Regular.ttf') format('truetype');
}

/* Rainbow colors */
:root {
  --color-primary: #ff3b69;
  --color-secondary: #ffbd69;
  --color-tertiary: #ffeb69;
  --transparent-primary: rgba(255, 59, 105, 0.2);
}

body {
  margin: 0;
  padding: 0;
}

.background-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('../media/heart.png');
  background-repeat: repeat;
  background-size: cover;
}

